# Ignore HELP.md in every directory
**/HELP.md

# Ignore target folders in all paths
**/target/

# Ignore the entire .mvn/ folder but track important files
**/.mvn/

### STS (Spring Tool Suite) Files ###
**/*.apt_generated
**/*.classpath
**/*.factorypath
**/*.project
**/.settings/
**/*.springBeans
**/*.sts4-cache

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
**/.vscode/
